header {
  position: absolute;
  width: 100%;
  top: 0;
  left: 50%;
  z-index: 2;
  transform: translateX(-50%);
}
.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 8px;
  padding-bottom: 8px;
}
.header-container .logo {
  max-width: 113px;
  height: auto;
}
.header-container nav ul {
  display: none;
}
.header-buttons {
  display: flex;
  gap: 8px;
  align-items: center;
}
.header-container .burger-btn {
  display: flex;
}
.header-container button {
  border-radius: 50%;
  border: none;
  width: 40px;
  height: 40px;
  background-color: var(--secondary-background-color);
  color: var(--link-color);
  font-size: 16px;
  line-height: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}
.mobile-menu {
  display: none;
  position: absolute;
  top: 100%;
  right: 0;
  width: 100%;
  background-color: #333;
  padding: 1rem;
}
.mobile-menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.mobile-menu li {
  margin-bottom: 1rem;
}
.mobile-menu li a {
  color: #fff;
  text-decoration: none;
}
.mobile-menu.active {
  display: block;
}

/* HERO SECTION */
.hero-section {
  position: relative;
  height: 100vh;
  min-height: 680px;
  background-image: url("../image/hero/curved-shape.svg"),
    url("../image/hero/hero-bg@1x.webp");
  background-size: auto 100%, cover;
  background-position: right, center;
  background-repeat: no-repeat;
}
.hero-section .hero-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 100%;
  gap: 40px;
  padding-bottom: 40px;
  padding-top: auto;
}
.hero-section .hero-wrapper .hero-wrapper-title {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  max-width: 75%;
}
.hero-section .hero-wrapper .hero-wrapper-title p {
  font-size: 12px;
  line-height: 1;
}
.hero-section .hero-wrapper .hero-wrapper-title h1 {
  font-size: 50px;
  line-height: 1;
}
.hero-section .hero-wrapper .hero-wrapper-button {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 16px;
  max-width: 100%;
}
.hero-section .hero-wrapper .hero-wrapper-button p {
  font-size: 16px;
  line-height: 1.1;
  text-align: right;
}
.hero-section .hero-wrapper .hero-wrapper-button p strong {
  color: var(--accent-color);
}
.hero-section .hero-wrapper .hero-wrapper-button a {
  background-color: var(--accent-color);
  border-radius: 24px;
  padding: 9px 31px;
  font-size: 12px;
  color: var(--link-color);
  font-family: "Gilroy", sans-serif;
  font-weight: 700;
  line-height: 1;
  transition: all var(--transition-dur-and-func);
}
.hero-section .hero-wrapper .hero-wrapper-button a:hover,
.hero-section .hero-wrapper .hero-wrapper-button a:focus {
  background-color: var(--link-color);
  color: var(--accent-color);
}

/* PROJECT SECTION */
.projects-section {
  padding: 60px 0 48px;
}
.projects-section h2 {
  text-wrap: nowrap;
  font-size: 50px;
  line-height: 1.1;
  margin-left: 26px;
  margin-bottom: -3.5%;
  position: relative;
  z-index: 5;
}
/* RETINA */
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .hero-section {
    background-image: url("../image/hero/curved-shape.svg"),
      url("../image/hero/hero-bg@2x.webp");
  }
}

/* DESKTOP */
@media screen and (min-width: 1440px) {
  .header-container {
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .header-container .logo {
    max-width: 226px;
  }
  .header-container nav ul {
    display: flex;
    gap: 40px;
    font-size: 17px;
    line-height: 1.5;
    margin-right: 180px;
  }
  .header-container .burger-btn {
    display: none;
  }
  .mobile-menu,
  .mobile-menu.active {
    display: none;
  }
  .hero-section {
    min-height: 1080px;
  }
  .hero-section .hero-wrapper {
    flex-direction: row;
    align-items: end;
    justify-content: space-between;
    padding-bottom: 120px;
  }
  .hero-section .hero-wrapper .hero-wrapper-title {
    gap: 40px;
    max-width: 677px;
  }
  .hero-section .hero-wrapper .hero-wrapper-title p {
    font-size: 24px;
  }
  .hero-section .hero-wrapper .hero-wrapper-title h1 {
    font-size: 150px;
  }
  .hero-section .hero-wrapper .hero-wrapper-button {
    gap: 40px;
    max-width: 510px;
  }
  .hero-section .hero-wrapper .hero-wrapper-button p {
    font-size: 42px;
  }
  .hero-section .hero-wrapper .hero-wrapper-button a {
    padding: 18px 62px;
    font-size: 16px;
  }
  .projects-section {
    padding: 160px 0 148px;
  }
  .projects-section h2 {
    font-size: 150px;
    margin-left: 116px;
  }
}

@media screen and (min-width: 1920px) {
  .projects-section h2 {
    font-size: 220px;
  }
}
