.swiper-section {
  overflow: hidden;
}

.swiper-container {
  width: 100%;
  margin-bottom: 48px;
}

.swiper-slide {
  aspect-ratio: 0.95 !important;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 16px;
}

.slide-content {
  height: 100%;
  padding-top: auto;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

.slide-content p {
  font-family: "Inter", sans-serif;
  font-size: 6px;
  line-height: 2.1;
  text-transform: uppercase;
}

.slide-content h3 {
  font-family: "Inter", sans-serif;
  font-size: 24px;
  line-height: 1.32;
}

.slide-content a {
  padding: 12px;
  background-color: var(--accent-color);
  display: flex;
  align-items: center;
  justify-content: center;
}

.slide-content a img {
  width: 12px;
  height: 12px;
}

.navigation-btns {
  position: relative;
  top: 24px;
  display: flex;
  gap: 8px;
}

.navigation-btns button {
  border-radius: 50%;
  background: var(--secondary-background-color);
  padding: 8px;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.navigation-btns button img {
  width: 12px;
  height: 12px;
}

.navigation-btns button:first-child {
  transform: rotate(180deg);
}

@media screen and (min-width: 1440px) {
  .swiper-slide {
    padding: 60px;
  }
  .slide-content p {
    font-size: 11.38px;
  }
  .slide-content h3 {
    font-size: 48.38px;
  }
  .slide-content a {
    padding: 23px;
  }
  .slide-content a img {
    width: 24px;
    height: 24px;
  }
  .navigation-btns {
    gap: 19px;
  }
  .navigation-btns button {
    padding: 24px;
  }
  .navigation-btns button img {
    width: 24px;
    height: 24px;
  }
}
